// primary color
@use '../index.scss';

// colors
$purple-color-1: #635FC7;
$purple-color-2: #A8A4FF;

$red-color-1: #EA5555;
$red-color-2: #FF9898;

$gray-color-1: #828FA3;
$gray-color-2: #E4EBFA;
$gray-color-3: #F4F7FD;

$color-white: #fff;

$dark-color-1: #000112;
$dark-color-2: #20212C;
$darl-gray-color-1: #2B2C37;
$dark-gray-color-2: #3E3F4E;

$border-color: #979797;
        
